[user]
	name = itkr
	email = itkrst@gmail.com
[credential]
	helper = osxkeychain
[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore
	editor = /usr/bin/vim
	quotepath = false
[push]
	default = current
[alias]
  s = status
  b = branch
  co = checkout
