[user]
    name = itkr
    email = itkrst@gmail.com
[credential]
    helper = osxkeychain
[color]
    ui = auto
[core]
    excludesfile = ~/.gitignore
    editor = vim
    quotepath = false
    whitespace = cr-at-eol
[push]
    default = current
[alias]
    s = status
    b = branch
    co = checkout
[ghq]
	root = ~/.ghq     ; default
	root = ~/.go/src  ; GOPATH
