[user]
    name = Shota Itakura
    email = 1531860+itkr@users.noreply.github.com
[credential]
    helper = osxkeychain
[color]
    ui = auto
[core]
    excludesfile = ~/.gitignore
    editor = vim
    quotepath = false
    whitespace = cr-at-eol
	filemode = false
[push]
    default = current
[pull]
    rebase = true
[alias]
    s = status
    b = branch
    co = checkout
[ghq]
	root = ~/.ghq     ; default
	; root = ~/.go/src  ; GOPATH
[init]
	defaultBranch = main
